.green-bg-1{
background-color:#98CD00 ;
}
.green-bg-2{
background-color:#A4DD00 ;
}
.green-bg-3{
background-color:#B6F500 ;
}
.green-bg-4{
background-color:#FFFADC ;
}
.green-txt-1{
color:#98CD00 ;
}
.green-txt-2{
color:#A4DD00 ;
}
.green-txt-3{
color:#B6F500 ;
}
.green-txt-4{
color:#FFFADC ;
}


.national-bg{
    background-color: #12140d;
}