 .bg_color{
    background: #0b0821;
<<<<<<< HEAD
 }

 .decor_visibility{
 display: none;
 }
 
/* Tablets: 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
   .decor_visibility{
       display: node;
    }
  }
  
  /* Small Desktops: 1024px to 1440px */
  @media (min-width: 1024px) and (max-width: 1440px) {
   .decor_visibility{
      display: node;
   }
  }
  
  /* Large Desktops: 1440px and above */
  @media (min-width: 1440px) {
   .decor_visibility{
    display: block;
    }
  }
=======
 }
>>>>>>> 65b2811a723d6bfbfa819c75e207eecd9c2d83b1
